.statistics {
    margin-right: 30px;
    width: 7%;


    .stat-list {
        list-style: none;
        background-color: rgb(180, 144, 66);
        box-shadow: 15px 15px 10px rgba(0,0,0, 0.2);
    }

}
